<article>
  <span class="centered-butt">
    <%= button_to 'Back', questions_path, method: :get %>
  </span>

  <br>
  <div class="cards">
    <div class="card">
      <div class="card-header">
        New Question
      </div>
      <div class="card-copy">
        <%= form_for @question do |f| %>
          <p><%= f.text_area :title %></p>
          <p><%= f.submit "Submit Question"%></p>
        <% end %>
      </div>
    </div>
  </div>


</article>
