$base-spacing: 1.5em !default;
$alert-color: #ffffff !default;
$error-color: #ffffff !default;
$notice-color: #ffffff !default;
$success-color: #ffffff !default;

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@mixin flash($color) {
  @include animation(fadeOut 12s);
  @include animation-fill-mode(forwards);
  display: inline-block;
  float: right;
  text-align: center;
  color: $color !important;
}

.flash-alert {
  @include flash(#FFFFFF);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}
