@import "bourbon";
@import "base/base";
@import "neat";
@import "refills/comment";
@import "refills/cards";
@import "refills/badges";

section {
  @include outer-container;

  article {
    @include span-columns(10);
    @include shift(1);

    .button-center {
      text-align: center;
    }

    #notice {
      text-align: center;
    }

    .time {
      float: right;
    }

    .badge {
      float: right;
    }
  }

}
