@import "bourbon";
@import "base/base";
@import "neat";
@import "refills/comment";
@import "refills/cards";
@import "refills/badges";
@import "refills/navigation";
@import "refills/footer";

$base-accent-color: #477DCA !default;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: #E6E6E6;
  margin: 0px;
  padding: 0px;
  padding-bottom: 6rem;
  min-height: 100%;
}

section {
  @include outer-container;

  article {
    @include span-columns(10);
    @include shift(1);

    .button-center {
      text-align: center;
    }

    #notice {
      text-align: center;
    }

    .time {
      float: right;
    }

    .badge {
      float: right;
    }
  }

}
