<div class="comment">
  <div class="comment-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_<%= rand(1..4) %>.png" alt="Logo image">
  </div>
  <div class="comment-content">
    <h1>User</h1>
    <p>Comment</p>
    <p class="comment-detail">... time</p>
  </div>
</div>
