<footer class="footer-2" role="contentinfo">
  <div class="footer-secondary-links">
    Cody Roberts &copy; 2015
  </div>
  <% if notice %>
    <div class="flash-notice">
      <span><%= notice %></span>
    </div>
  <% elsif alert %>
    <div class="flash-alert">
      <span><%= alert %></span>
    </div>
  <% end %>
</footer>
